<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars.githubusercontent.com/u/5049006?v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Marcelo Souza<i class="fa fa-github right"></i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Marcelo Souza<i class="material-icons right">close</i></span>

      <p>
        Aluno do Curso de Git.
        Developer.
      </p>

      <p class="center">
        <a href="https://github.com/marceloAPP" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
        <i class="fa fa-code" style="font-size:50pt"></i>
      </p>

    </div>
  </div>